# Openai
OPENAI_API_KEY=

# Groq 
GROQ_API_KEY=

# PPLX
PPLX_API_KEY=

# ANTHROPIC
ANTHROPIC_API_KEY=

# GOOGLE
GOOGLE_GENERATIVE_AI_API_KEY=

# MISTRAL
MISTRAL_API_KEY=

# GROK
XAI_API_KEY=

# Together AI
TOGETHER_AI_API_KEY=

# Postgres
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres
PGCRYPTO_KEY=

# S3
S3_BUCKET_NAME=my-new-bucket
S3_ACCESS_KEY_ID=minioadmin
S3_SECRET_ACCESS_KEY=minioadmin123
S3_ENDPOINT_URL=http://localhost:9000

# JWT
ACCESS_TOKEN_SECRET=FRONTEND_URL=http://localhost:4001
REFRESH_TOKEN_SECRET=

# Unstructured IO
UNSTRUCTURED_API_URL=http://localhost:8000/general/v0/general
UNSTRUCTURED_API_KEY=sk-tester-key

# Jina ai
JINA_API_KEY=

FRONTEND_URL=http://localhost:4001

# Google oauth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:4000/auth/google/callback

# Microsoft oauth
MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=
MICROSOFT_CALLBACK_URL=http://localhost:4000/auth/microsoft/callback

# Stripe
STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=

